<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
	<head th:include="/common/head :: loadHead"></head>
   
    <body>
        <form id="listFrm" class="layui-form layui-form-pane">
        	<blockquote class="layui-elem-quote list-blockquote">
                <div class="clearfix">
                    <div style="float:left;">案场通道类型列表</div>
                    <div style="float:right;">
                    	<button type="button" class="layui-btn sm" v-on:click="doAdd()"><i class="layui-icon">&#xe654;</i>新增案场通道类型</button>
                    </div>
                </div>
            </blockquote>
            <div class="layui-form-item" style="margin-bottom:0px;">
                <div class="layui-inline">
                    <label class="layui-form-label">案场名称</label>
                    <div class="layui-input-block">
                        <select name="storeId" lay-filter="store" class="storeItems"></select>
                    </div>
                </div>
            </div>      
            <table id="listTab" class="layui-table"  style="margin-top:0px;">
                <thead>
                    <th width="200">案场名称</th>
                    <th width="180">通道类型名称</th>
                    <th width="100">是否主通道</th>
                    <th width="120">创建时间</th>
                    <th width="150" style="text-align:center;">操作</th>
                </thead>
                <tbody>
                	<tr v-for="item in list">
                    	<td v-text="item.storeName"></td>
                        <td v-text="item.name"></td>
                        <td v-text="item.isMain == 1 ? '是' : '否'"></td>
                        <td v-text="item.createDate"></td>
                        <td class="text-center">
                        	<div class="layui-btn-group">
                            	<button type="button" class="layui-btn" v-on:click="doEdit(item.id)"><i class="layui-icon">&#xe642;</i>编辑</button>
								<button type="button" class="layui-btn" v-on:click="doDelete(item.id)"><i class="layui-icon">&#xe640;</i>删除</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="listPage"></div>
        </form>
	</body>
    <div id="addPanel" style="display:none;">
        <form id="addFrm" class="layui-form layui-form-pane">
        	<input id="id" name="id" v-bind:value="passageType.id" type="hidden" />
            <div class="layui-form-item">
            	<label class="layui-form-label">案场名称</label>
                <div class="layui-input-block" style="z-index:10000;">
                	<select id="storeId" name="storeId" class="storeItems"></select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">类型名称</label>
                <div class="layui-input-block">
                	<input id="name" name="name" type="text" v-bind:value="passageType.name" class="layui-input" maxlength="30" />
                </div>
            </div>
            <div class="layui-form-item" pane>
                <label class="layui-form-label">主出入口</label>
                <div class="layui-input-block">
                	<input type="radio" name="isMain" value="1" title="是" />
                    <input type="radio" name="isMain" value="2" title="否 " />
                </div>
            </div>
        </form>
    </div>
</html>

<div th:include="/common/javascript :: loadJS"></div>
<script type="text/javascript">
	var module = "/passage_type";
	var layer, form;
	
	var passageTypeData = {
		passageType: {} // 新增或修改数据
	};
	var editPassageVue = new Vue({
		el: '#addFrm'
		,data: passageTypeData
	});
	
	var listVue = new Vue({
		el: '#listFrm'
		,data: {
			list: []
		}
		,methods:{
			doAdd: function(){
				$("#addFrm")[0].reset();
				$("input[type=radio][value='1']").prop("checked", true);
				$("#id").val("");
				optPanel();
			}
			,doEdit: function(id){
				$("#id").val(id);
				optPanel();				
			}
			,doDelete: function(id){
				var delIndx = layer.confirm(
					"确定要删除吗？",
					{btn:["确定", "取消"]},
					function(){
						layer.close(delIndx);
						var param = {id: id};
						dg.ajaxRequest(module + "/delete", param, function(res){
							var status = res.status;
							if(isNotNull(status) && status == "10000") {
								list();
							}				
						});
					}
				);
			}
		}
	});
	
	layui.use(['layer', 'form'], function(){
		layer = layui.layer;
		form = layui.form;
		
		// 联级事件
		form.on("select(store)", function(obj){
			list();
		});
		
		// 加载列表
		list();
	});
	
	function optPanel() {
		var pid = $("#id").val();
		
		var layerIdx = layer.open({
			type: 1,
			title: (pid != '' ? '编辑' : '新增') + '案场通道类型',
			area: ['600px', '300px'],
			shade: 0.1,
			btn: ['保存', '取消'],
			btnAlign: 'c',
			content: $("#addPanel"),
			success:function(){
				// 编辑数据
				if(pid != '') {
					var param = {id: pid};
					dg.ajaxRequest(module + "/detail", param, function(res){
						var passageType = res.data;
						if(!isNotNull(passageType)) {
							return;	
						}
						passageTypeData.passageType = passageType;
						$("#storeId").val(passageType.storeId);
						$("input[type=radio][value='" + passageType.isMain + "']").prop("checked", true);
						form.render();
					});
				}
				form.render();
			},
			yes: function(index, layero) {
				if($("#storeId").val() == "") {
					layer.msg("案场名称不能为空！");
					return;
				}
				if($("#name").val() == "") {
					layer.msg("类型名称不能为空！");
					$("#name").focus();
					return;	
				}
				var params = $("#addFrm").serializeArray();
				dg.ajaxRequest(module + "/save", params, function(res){
					var status = res.status;
					if(isNotNull(status) && status == "10000") {
						list();
						layer.close(layerIdx);
					}
				});
			}
		});		
	}
	
	// 加载页码和列表
	function list() {
		var params = $("#listFrm").serializeArray();
		dg.ajaxRequest(module + "/list_count", params, function(res){
			dg.listPage("listPage", res.records, res.pageSize, function(curPage){
				listPage(curPage);
			});
		});
		listPage(1);
	}
	
	function listPage(curPage) {
		curPage = (curPage==null || curPage == undefined) ? 1 : curPage;
		var params = $("#listFrm").serializeArray();
		params.push({"name" : "currentPage", "value" : curPage});
		dg.ajaxRequest(module + "/list", params, function(res){
			listVue.$data.list = res.data;
		});	
	}
</script>
