<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
	<head th:include="/common/head :: loadHead"></head>
    
    <body>
        <form id="listFrm" class="layui-form layui-form-pane">
        	<input name="type" type="hidden" value="1" />
        	<div class="layui-form-item" style="margin-bottom:5px;">
            	<div class="layui-inline">
                    <label class="layui-form-label">案场名称</label>
                    <div class="layui-input-block">
                        <select id="storeId" name="storeId" lay-filter="store" class="storeItems"></select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">时间</label>
                    <div class="layui-input-block">
                        <input id="sdate" name="sdate" type="text" th:value="${curDate}" class="layui-input" readonly maxlength="10" />
                    </div>
                </div>
                <div class="layui-inline">
                    <button id="searchBtn" type="button" class="layui-btn" onclick="initChart()"><i class="layui-icon">&#xe615;</i>查询</button>
                </div>
            </div>
        </form>
        <!-- data total -->
        <div class="rpt-box">
        	<div class="box blue">
            	<div class="clearfix">
                	<div style="float:left"><i class="dg-icon">&#xe629;</i></div>
                    <div style="float:right; text-align:right;">
                    	<div class="data" id="totalKL">0</div>
                        <div class="label">总客流量</div>
                    </div>
                </div>
           </div>
           <div class="box black">
            	<div class="clearfix">
                	<div style="float:left"><i class="dg-icon">&#xe74c;</i></div>
                    <div style="float:right; text-align:right;">
                    	<div class="act ellipsis" id="activityLabel" style="width:160px;">-</div>
                        <div class="label">主题活动</div>
                    </div>
                </div>
           </div>
        </div>
        <!-- END -->
        
        <div id="klChart" class="chart-box"></div>
        <div id="passageChart" class="chart-box" style="height:380px;">
        	<h1 class="chart-title">通道日客流量数据报表</h1>
            <div class="layui-tab layui-tab-brief" lay-filter="psChartTabBrief" style="margin-top:0px;">
              <ul class="layui-tab-title">
                <li v-for="(item, index) in ptypeList" v-text="item.name" 
                	:class="index == 0 ? 'layui-this' : ''" :lay-id="item.id"></li>
              </ul>
              <div class="layui-tab-content" style="padding:0px;">
                <div :id="'_' + item.id" v-for="(item, index) in ptypeList" :class="'layui-tab-item ' + (index == 0 ? 'layui-show' : '')"
                	style="height:300px;"></div>
              </div>
            </div> 
        </div>
	</body>
</html>
<div th:include="/common/javascript :: loadJS"></div>
<script language="javascript" type="text/javascript" src="../javascript/echarts-all.js"></script>
<script language="javascript" type="text/javascript" src="../javascript/data-query.js"></script>

<script type="text/javascript">
	layui.use(['layer','laydate'], function(){
		var layer, laydate;
		layer = layui.layer;
		laydate = layui.laydate;
		laydate.render({
			elem: '#sdate',
			min: '2017-1-1',
			max: $("#sdate").val(),
			theme: date_theme,
			done: function(value, date) {
				initChart();
			}
		});
	});
</script>
