<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
	<head th:include="/common/head :: loadHead"></head>
    
    <body>
        <form id="listFrm" class="layui-form layui-form-pane">
        	<input name="type" type="hidden" value="1" />
        	<div class="layui-form-item" style="margin-bottom:5px;">
            	<div class="layui-inline">
                    <label class="layui-form-label">案场名称</label>
                    <div class="layui-input-block">
                        <select id="storeId" name="storeId" lay-filter="store" class="storeItems"></select>
                    </div>
                </div>
            	<div class="layui-inline">
                	<label class="layui-form-label">选择时间</label>
                    <div class="layui-input-block">
                        <input id="sdate" name="sdate" type="text" style="width:100px" th:value="${curDate}" class="layui-input" readonly maxlength="10" />
                    </div>
                </div>
                <div class="layui-inline">
                	<div class="clearfix store-group" v-for="item in dateList">
                    	<input name="dateArray" type="hidden" v-bind:value="item.date" />
                        <a href="#" class="store-label"><span v-text="item.date"></span></a>
                        <a href="#" class="close layui-icon" v-on:click="removeDate(item.date)">&#x1006;</a>
                    </div>
                </div>
            	<div class="layui-inline">
                	<button id="searchBtn" type="button" class="layui-btn" onclick="initChart()"><i class="layui-icon">&#xe615;</i>查询</button>
                </div>
            </div>
            <!-- data total -->
            <div class="rpt-box">
                <div class="box blue" v-for="item in dateList">
                    <div class="clearfix">
                        <div style="float:left"><i class="dg-icon">&#xe629;</i></div>
                        <div style="float:right; text-align:right;">
                            <div class="data" id="totalKL" v-text="item.totalKl"></div>
                            <div class="label" style="font-size:12pt;" v-text="item.date"></div>
                        </div>
                    </div>
               </div>
            </div>
            <!-- END -->
        </form>       
        
        <div id="klChart" class="chart-box" style="display:none;"></div>
	</body>
</html>
<div th:include="/common/javascript :: loadJS"></div>
<script language="javascript" type="text/javascript" src="../javascript/echarts-all.js"></script>
<script language="javascript" type="text/javascript" src="../javascript/time-compare.js"></script>

<script type="text/javascript">
	layui.use(['layer','laydate', 'form'], function(){
		var layer, laydate, form;
		layer = layui.layer;
		laydate = layui.laydate;
		form = layui.form;
		
		laydate.render({
			elem: '#sdate',
			min: '2017-1-1',
			max: $("#sdate").val(),
			theme: date_theme,
			done: function(value, date) {
				var dateList = dateListVue.$data.dateList;
				if(dateList.length == 3) {
					layer.msg('最多只能选择三个时间进行对比！');
					return;
				}
				var isExit = false;
				$.each(dateList, function(idx, item){
					if(value == item.date) {
						layer.msg('选择的时间已经在对比列表中，请重新选择！');
						isExit = true;
						return false;
					}
				});
				if(!isExit) {
					dateList.push({"date": value, "totalKl": 0});
				}
			}
		});
	});
	
</script>