<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
	<head th:include="/common/head :: loadHead"></head>
    <body>
    	<form class="layui-form" action="#">
        	<div class="layui-form-item"> 
            	首页                   
            </div>
            
            <div class="layui-form-item">
                
            </div>
        </form>        
	</body>
</html>

<div th:include="/common/javascript :: loadJS"></div>
<script type="text/javascript">
	
</script>
