<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digisold.web.mybatis.dao.PassageTypeMapper">
  <resultMap id="BaseResultMap" type="com.digisold.web.mybatis.entity.PassageType">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="store_id" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="is_main" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="creator" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="updater" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="update_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, store_id, name, is_main, creator, create_date, updater, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from passage_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from passage_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.digisold.web.mybatis.entity.PassageType">
    insert into passage_type (id, store_id, name, 
      is_main, creator, create_date, 
      updater, update_date)
    values (#{id,jdbcType=INTEGER}, #{storeId,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, 
      #{isMain,jdbcType=INTEGER}, #{creator,jdbcType=CHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=CHAR}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.digisold.web.mybatis.entity.PassageType">
    insert into passage_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="isMain != null">
        is_main,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updater != null">
        updater,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="isMain != null">
        #{isMain,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=CHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=CHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.digisold.web.mybatis.entity.PassageType">
    update passage_type
    <set>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=CHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="isMain != null">
        is_main = #{isMain,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=CHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        updater = #{updater,jdbcType=CHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.digisold.web.mybatis.entity.PassageType">
    update passage_type
    set store_id = #{storeId,jdbcType=CHAR},
      name = #{name,jdbcType=VARCHAR},
      is_main = #{isMain,jdbcType=INTEGER},
      creator = #{creator,jdbcType=CHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=CHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="checkNameIsExists" resultType="java.lang.Long" parameterType="com.digisold.web.mybatis.entity.PassageType">
  	select count(t.id) from passage_type t
  	<where>
	  	<if test="id != null and id != ''">
	  	<![CDATA[
	  		and t.name <> (select p.name from passage_type p where p.id = #{id})
	  	]]>	
	  	</if>
	  	<if test="storeId != null and storeId != ''">
	  		and t.store_id = #{storeId}
	  	</if>
	  	<if test="name != null and name != ''">
	  		and t.name = #{name}
	  	</if>
  	</where>
  </select>
  
  <select id="countPassageTypeList" resultType="java.lang.Long" parameterType="com.digisold.web.manage.system.model.PassageTypeListModel">
  	select count(t.id) from passage_type t inner join store t2 on t.store_id = t2.id
  	<where>
  		<if test="storeId != null and storeId != ''">
  			and t2.id = #{storeId}
  		</if>
  	</where>
  </select>
  
  <select id="passageTypeList" resultType="com.digisold.web.manage.system.vo.PassageTypeListVo" parameterType="com.digisold.web.manage.system.model.PassageTypeListModel">
  	select t.id, t2.name as storeName, t.name, t.is_main as isMain, DATE_FORMAT(t.create_date, '%Y-%m-%d  %H:%i') as createDate
  	from passage_type t inner join store t2 on t.store_id = t2.id
  	<where>
  		<if test="storeId != null and storeId != ''">
  			and t2.id = #{storeId}
  		</if>
  	</where>
  	order by t2.id asc
  	limit #{pageIndex}, #{pageSize}
  </select>
  
  <select id="ptypeListByStore" resultType="com.digisold.web.mybatis.entity.PassageType">
  	select t.id, t.name, t.is_main from passage_type t where t.store_id = #{storeId} order by t.is_main asc
  </select>
</mapper>