<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digisold.web.mybatis.dao.UserStoreMapper">
  <resultMap id="BaseResultMap" type="com.digisold.web.mybatis.entity.UserStore">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="user_id" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="store_id" javaType="java.lang.String" jdbcType="CHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, store_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_store
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_store
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.digisold.web.mybatis.entity.UserStore">
    insert into user_store (id, user_id, store_id)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=CHAR}, #{storeId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.digisold.web.mybatis.entity.UserStore">
    insert into user_store
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=CHAR},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.digisold.web.mybatis.entity.UserStore">
    update user_store
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.digisold.web.mybatis.entity.UserStore">
    update user_store
    set user_id = #{userId,jdbcType=CHAR},
      store_id = #{storeId,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="userStoreList" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from user_store t
  	where t.user_id = #{userId}
  </select>
</mapper>